{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
	<h4 class="mt2">Editing: <i>{{ title }}</i></h4>
	<form action="" method="post" class="userEntryContainer">
		{% csrf_token %}
		{{ form }}
		<textarea name="content" class="mt2">{{ content }}</textarea>
		<input type="text" name="title" value="{{ title }}" hidden>
		<p style="text-align: right" class="mt3">
			<input type=submit value="Save" class="button">
		</p>
	</form>
{% endblock %}